*, body{
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*MAIN*/
.main {
    background: url("../images/new-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/*END-MAIN*/

/*HEADER*/
.header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding-top: 15px;
}

.wrap-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrap-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrap-number a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    list-style: none;
    outline: none;
    text-decoration: none;
    padding-right: 15px;
}

.wrap-number img {
    padding-right: 11px;
}

.tel-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
}

.tel-text-mob {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 6px;
}

/*END-HEADER*/

/*WRAP-TITLE*/
.title-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #FFFFFF;
    padding-top: 50px;
}

.uan {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #FFD563;
}

/*END-WRAP-TITLE*/

/*TIME*/
.time-wrap .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.time {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #423461;
    padding-bottom: 25px;
}

.time-count {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #423461;
}

/*END-TIME*/

/*CATS-WRAP*/
.cats-wrap {
    position: relative;
}

.cats-wrap-text {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #423461;
}

.cats-wrap .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.wrap-cat-1, .wrap-cat-2, .wrap-cat-3, .wrap-cat-4 {
    width: 23%;
    height: 147px;
    border: 3px solid #7860B1;
    border-radius: 30px;
    position: relative;
    background: url("../images/cats-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    cursor: pointer;
    background-color: white !important;
    z-index: 1;
    background-position: 50% calc(100% + 3px);
}

.cat-1, .cat-2, .cat-3, .cat-4 {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    height: auto;
}

.wrap-cat-1:hover {
    background-color: #7860B1 !important;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.wrap-cat-2:hover {
    background-color: #7860B1 !important;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.wrap-cat-3:hover {
    background-color: #7860B1 !important;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.wrap-cat-4:hover {
    background-color: #7860B1 !important;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.footer {
    margin-top: 60px;
    margin-bottom: 15px;
}

.footer-link-red {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 0.2);
    list-style: none;
    outline: none;
    text-decoration: none;
}

.vector-bottom-img-mob {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    z-index: 0;
}

/*END-CATS-WRAP*/

/*AGAIN*/
.again-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
}

.again-box {
    max-width: 500px;
    width: calc(100% - 30px);
    background: #FFFFFF;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 11px 15px 12px 24px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.again-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FF0000;
}

.again_btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    background: #7860B1;
    border-radius: 30px;
    padding: 12px 40px;
    cursor: pointer;
    margin-top: 20px;
}

.again_btn:hover {
    background: #8e76d3;
}

/*END-AGAIN*/

.d-none {
    display: none;
}

.add-opacity-1 {
    opacity: 1;
}


/*START-STYLES FOR MAX-WIDTH*/
/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1399.98px) {
    .wrap-cat-1, .wrap-cat-2, .wrap-cat-3, .wrap-cat-4 {
        height: 142px;
    }

    .cats-wrap-text {
        font-size: 32px;
    }

    .footer {
        margin-top: 40px;
    }

    .title-text {
        font-size: 32px;
    }

    .uan {
        font-size: 32px;
    }
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    .wrap-cat-1, .wrap-cat-2, .wrap-cat-3, .wrap-cat-4 {
        height: 120px;
    }

    .footer {
        margin-top: 30px;
    }

    .footer-link-red {
        font-size: 10px;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

    .title-text {
        font-size: 28px;
        padding-top: 35px;
    }

    .uan {
        font-size: 28px;
    }

    .cats-wrap-text {
        font-size: 26px;
    }

    .wrap-cat-1, .wrap-cat-2, .wrap-cat-3, .wrap-cat-4 {
        height: 93px;
        border: 2px solid #7860B1;
        border-radius: 15px;
    }

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .wrap-tel {
        display: block;
    }

    .tel-text {
        display: none;
    }

    .title-text {
        font-size: 22px;
    }

    .uan {
        font-size: 22px;
    }

    .header .container {
        padding-top: 5px;
    }

    .wrap-number {
        padding-top: 7px;
    }

    .wrap-number a {
        padding-right: 0;
    }

    .title-text {
        padding-top: 2px;
    }

}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    .again-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
    }

    .again-text {
        font-size: 26px;
    }

    .again-cat-img {
        width: 123px;
        -webkit-transform: translateY(-60px);
        -ms-transform: translateY(-60px);
        transform: translateY(-60px);
    }

    .again_btn {
        -webkit-transform: translateY(135px);
        -ms-transform: translateY(135px);
        transform: translateY(135px);
        font-size: 16px;
    }

}

/*Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {
    .cats-wrap .container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .wrap-cat-1, .wrap-cat-2, .wrap-cat-3, .wrap-cat-4 {
        width: 48%;
        border: 2px solid #7860B1;
        border-radius: 15px;
    }

    .cats-wrap-text {
        font-size: 20px;
    }

    .wrap-cat-3, .wrap-cat-4 {
        margin-top: 20px;
    }

    .time {
        font-size: 14px;
        padding-bottom: 12px;
    }

    .time-count {
        font-size: 18px;
    }

    .footer-link-red {
        font-size: 10px;
    }

    .again-text {
        font-size: 22px;
    }

    .logo {
        width: 82px;
    }

    .wrap-number a {
        font-size: 16px;
    }

    .wrap-number img {
        padding-right: 8px;
        width: 30px;
    }

    .main {
        background: url(../images/new-bg-mob.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    }

    .wrap {
        min-height: 50vh;
    }

    .title-text {
        padding-top: 25px;
    }

    .footer {
        margin-top: 15px;
    }

    .wrap-cat-1, .wrap-cat-2, .wrap-cat-3, .wrap-cat-4 {
        height: 115px;
    }
}

/*Extra small devices (portrait phones, less than 450px)*/
@media (max-width: 450px) {
    .again-text {
        font-size: 20px;
    }

    .wrap-cat-1, .wrap-cat-2, .wrap-cat-3, .wrap-cat-4 {
        height: 105px;
    }
}

/*Extra small devices (portrait phones, less than 400px)*/
@media (max-width: 400px) {
    .wrap-cat-1, .wrap-cat-2, .wrap-cat-3, .wrap-cat-4 {
        height: 92px;
    }

    .title-text {
        font-size: 20px;
    }

    .uan {
        font-size: 20px;
    }

    .footer-link-red {
        font-size: 8px;
    }

    .time {
        font-size: 12px;
        padding-bottom: 5px;
    }

    .wrap {
        min-height: 48vh;
    }
}

/*Extra small devices (portrait phones, less than 360px)*/
@media (max-width: 360px) {
    .title-text {
        font-size: 19px;
        padding-top: 20px;
    }

    .uan {
        font-size: 19px;
    }

    .wrap-number a {
        font-size: 14px;
    }

    .tel-text-mob {
        font-size: 11px;
        padding-top: 5px;
    }

    .cats-wrap-text {
        font-size: 18px;
    }
}

/*Extra small devices (portrait phones, less than 550px)*/
@media (max-width: 350px) {
    .again-text {
        font-size: 18px;
    }

    .wrap-number a {
        font-size: 14px;
    }

    .tel-text-mob {
        font-size: 10px;
    }

    .title-text {
        font-size: 18px;
        padding-top: 15px;
    }

    .uan {
        font-size: 18px;
    }

    .cats-wrap-text {
        font-size: 16px;
    }

    .time {
        font-size: 10px;
        padding-bottom: 8px;
    }

    .time-count {
        font-size: 16px;
    }

    .footer {
        margin-top: 12px;
        margin-bottom: 10px;
    }

    .footer-link-red {
        font-size: 7px;
    }

    .wrap-cat-1, .wrap-cat-2, .wrap-cat-3, .wrap-cat-4 {
        height: 84px;
    }

    .main {
        background-position: top;
    }
}

/*END-STYLES FOR MAX-WIDTH*/

/*STYLE-FOR-CONTAINER*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 481px) {
    .vector-bottom-img-mob {
        display: none;
    }
}

@media (min-width: 544px) {
    .container {
        max-width: 576px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .tel-text-mob {
        display: none;
    }

}

@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        /*max-width: 1200px;*/
    }
}

/*END-STYLE-FOR-CONTAINER*/

/*MEDIA-LANDSCAPE*/
@media (max-height: 450px) and (orientation: landscape) {

    .wrap-cat-1, .wrap-cat-2, .wrap-cat-3, .wrap-cat-4 {
        height: 70px;
        border: 2px solid #7860B1;
        border-radius: 15px;
    }

    .logo {
        width: 82px;
    }

    .wrap-number a {
        font-size: 13px;
    }

    .tel-text-mob {
        font-size: 10px;
        padding-top: 4px;
    }

    .wrap-number img {
        padding-right: 8px;
        width: 23px;
    }

    .title-text {
        font-size: 18px;
    }

    .uan {
        font-size: 18px;
    }

    .cats-wrap-text {
        font-size: 16px;
        margin-bottom: -20px;
    }

    .time {
        font-size: 11px;
        padding-bottom: 7px;
    }

    .time-count {
        font-size: 16px;
    }

    .footer {
        margin-top: 15px;
        margin-bottom: 10px
    }

    .footer-link-red {
        font-size: 6px;
    }

    .form-wrap {
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
        align-items: flex-start !important;
        overflow: scroll;
    }
}

/*END-MEDIA-LANDSCAPE*/